Source: dhcpd6-unnumbered
Section: net
Priority: optional
Maintainer: netops <netops@linode.com>
Build-Depends: debhelper (>= 7.0.0~)
Standards-Version: 3.9.2
Vcs-Browser: https://github.com/linode/dhcpd6-unnumbered
Vcs-Git: https://github.com/linode/dhcpd6-unnumbered

Package: dhcpd6-unnumbered
Architecture: amd64
Depends: 
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Stateless DHCPv6 helper for unnumbered TAP
 This tool listens for DHCPv6 requests on interfaces
 matching a regex. If matched, it looks up the route
 pointing to that TAP and offers it via DHCPv6,
 allowing an unknowing client to use DHCPv6 on an unnumbered
 uplink.
